*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Hiragino Sans GB,
    Cascadia Code,
    Menlo,
    Monaco,
    Consolas,
    Microsoft YaHei,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
  color: var(--doc-text-color-regular);
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}

[hidden] {
  display: none !important;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

pre {
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  color: var(--doc-head-text-color);
  font-weight: 600;
}

h1 {
  padding: 0;
  line-height: 24px;
  font-size: 24px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
  margin-top: 36px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 24px;
}

ul.doc-ul {
  list-style: none;
}

ul.doc-ul > li {
  position: relative;
}

ul.doc-ul > li + li,
ul.doc-ul > li > ul {
  margin-top: 5px;
}

ul.doc-ul > li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: -12px;
  width: 4px;
  height: 4px;
  background-color: #191f2f;
  border-radius: 50%;
  transition: background-color ease 0.3s;
}

code:not(.hljs-code) {
  padding: 3px 5px;
  border-radius: 4px;
  color: #d63200;
  background-color: #f8f8f8;
  font-family: Menlo, Monaco, Consolas, 'Microsoft YaHei', monospace;
  margin: 0 2px;
  font-weight: 400;
  font-size: 14px;
}

em {
  color: #e45649;
  font-family:
    Cascadia Code,
    Menlo,
    Monaco,
    Consolas,
    'Microsoft YaHei',
    monospace;
  margin: 0 2px;
  font-weight: 400;
  font-style: normal;
}

iframe {
  border: none;
  display: block;
  width: 100%;
}

code-box {
  display: block;
  position: relative;
  margin: 10px 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th {
  text-align: left;
}

table thead {
  background-color: #f0f0f0;
}

table tbody tr + tr {
  border-top: 1px dashed #e5e5e6;
}

table td,
table th {
  padding: 8px;
  line-height: 20px;
}

table tbody tr {
  transition: background-color ease 0.15s;
}

table tbody tr:hover {
  background-color: rgba(180, 180, 180, 0.1);
}

table tbody tr:last-child {
  border-bottom: 1px dashed #e5e5e6;
}

blockquote {
  color: #999;
  border-left: 4px solid #dfe2e5;
  margin: 1rem 0;
  padding: 8px 10px 8px 20px;
  margin: 15px 0;
}

blockquote > p {
  margin: 0;
}

img {
  max-width: 100%;
}

strong {
  color: var(--doc-text-color-bold);
}
