:root {
  --doc-color-primary: rgb(0, 123, 255);

  --doc-text-color-regular: #191b1f;
  --doc-text-color-secondary: #555;
  --doc-text-color-bold: #000;
  --doc-text-color-gray: #808080;
  --doc-code-color: #c6303e;

  --doc-head-text-color: #212433;

  --doc-link-color: #007bff;
  --doc-link-hover-bg-color: rgba(0, 76, 252, 0.1);

  --doc-main-width: 1180px;
  --doc-background-color: #fafafa;
  --doc-border-color: #dcdfe6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 1);
  border-radius: 5px;
  background-clip: content-box;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(130, 130, 130);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--doc-text-color-regular);
  /* prettier-ignore */
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Microsoft YaHei","Source Han Sans SC","Noto Sans CJK SC","WenQuanYi Micro Hei","MiSans L3",sans-serif;
}

[hidden] {
  display: none !important;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

pre {
  margin: 8px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
  color: var(--doc-head-text-color);
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

ul {
  margin: 0 0 16px 0;
  padding-left: 16px;
  list-style: none;
}

ul li {
  position: relative;
}

ul > li + li {
  margin-top: 4px;
}

ul > li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -16px;
  width: 4px;
  height: 4px;
  background-color: #666;
  border-radius: 50%;
  transition: background-color ease 0.3s;
}

ol {
  margin: 0 0 16px 0;
  padding-left: 24px;
}

ol > li + li {
  margin-top: 4px;
}

ol li::marker {
  color: #666;
}

code:not(.hljs-code) {
  font-family: Consolas, monospace;
  margin: 0 2px;
  font-size: 14px;
  color: var(--doc-code-color);
}

iframe {
  border: none;
  display: block;
  width: 100%;
}

code-box {
  display: block;
  position: relative;
  margin: 10px 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table tbody tr + tr {
  border-top: 1px solid var(--doc-border-color);
}

table thead tr,
table tbody tr:last-child {
  border-bottom: 1px solid var(--doc-border-color);
}

table td,
table th {
  text-align: left;
  padding: 6px 4px;
}

table tbody tr {
  transition: background-color ease 0.15s;
}

table tbody tr:hover {
  background-color: rgba(212, 212, 212, 0.1);
}

blockquote {
  color: var(--doc-text-color-secondary);
  padding: 12px;
  margin: 16px 0;
  background-color: var(--doc-background-color);
  border-radius: 8px;
}

blockquote > p {
  margin: 0;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 700;
}

em {
  color: var(--doc-text-color-bold);
  font-style: normal;
  font-weight: 400;
}

sup {
  font-weight: 400;
  font-size: 12px;
  user-select: none;
  color: var(--doc-code-color);
}
