.example-modal {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
}

.example-modal-header {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #dcdfe6;

  --xwindow-header-height: 32px;
}

.example-modal-title {
  flex: 1;
  width: 0;
  padding: 6px 10px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
}

.example-modal-menus{
  display: flex;
  flex-flow: row nowrap;
}

.example-modal-menus > .x-window-is-menu:last-child::after{
  border-radius: 0 !important;
}

.example-modal-body {
  padding: 10px;
  flex: 1;
  height: 0;
}

.example-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #dcdfe6;
  padding: 6px 10px;
}

.approval-form{
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  position: relative;
}


.approval-form textarea {
  display: flex;
  height: 0;
  flex: 1;
  padding: 8px;
  outline: none;
  resize: none;
  border-radius: 2px;
  border: 1px solid #dcdfe6;
}

.approval-form textarea:focus {
  border: 1px solid #409eff;
}

.approval-form-message {
  font-size: 12px;
  line-height: 20px;
  color: #F56C6C;

  position: absolute;
  bottom: 0;
  left: 8px;
}

.approval-output{
  margin-top: 4px;
  min-height: 21px;

  display: flex;
}

.approval-output pre{
  margin: 0;
  flex: 1;
  width: 0;
  white-space: pre-wrap;
  word-break: break-all;
}